processed_data/*_object/*.png
processed_data_20_21/*_object/*.png

dataset/20bn-something-something-v2/*
!dataset/20bn-something-something-v2/.gitkeep

checkpoint/instruct-pix2pix/*
!checkpoint/instruct-pix2pix/.gitkeep

__pycache__/
logs/
evaluation_results_*


data_preparation.log